:root {
  --black: #222222;
  --white: #fafbfd;
  --grey: #f4f5f7;
  --main-font: "Titillium Web", sans-serif;
  --secondary-font: Verdana;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
  vertical-align: baseline;
}

img,
picture,
video,
iframe,
figure {
  max-width: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center center;
}

a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: inherit;
}

p a {
  display: inline;
}

html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
a,
strong,
blockquote,
i,
b,
u,
em {
  font-size: 1em;
  font-weight: inherit;
  font-style: inherit;
  text-decoration: none;
  color: inherit;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

::-moz-selection {
  background-color: var(--black);
  color: var(--white);
}
::selection {
  background-color: var(--black);
  color: var(--white);
}

form,
input,
textarea,
select,
button,
label {
  font-family: inherit;
  font-size: inherit;
  hyphens: auto;
  background-color: none;
  color: inherit;
  display: block;
  appearance: none;
}

ul {
  list-style-type: none;
}

table,
tr,
td {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  min-height: 100vh;
  font-size: 100%;
  font-family: var(--main-font);
  color: var(--black);
  font-smooth: always;
  background-color: var(--white);
}
